In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('Metrail+dataset.csv')
# data['Month'] = pd.to_datetime(data['Month'], '%b-%y')
data.head()

    Month  Travellers('000)
0  Jan-91            1724.0
1  Feb-91            1638.0
2  Mar-91            1987.0
3  Apr-91            1825.0
4  May-91               NaN

In [7]:
data.Month.interpolate

0      Jan-91
1      Feb-91
2      Mar-91
3      Apr-91
4      May-91
        ...
154    Nov-03
155    Dec-03
156    Jan-04
157    Feb-04
158    Mar-04
Name: Month, Length: 159, dtype: object

In [31]:
 datetime.strftime(datetime(2000,1,1), '%b-%y')

'Jan-00'