In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('odi-batting.csv')
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [5]:
df['century'] = df['Runs'].apply(lambda x: 1 if x>= 100 else 0)

In [10]:
df.groupby('Player').century.sum().sort_values(ascending=False)

Player
Sachin R Tendulkar     48
Ricky T Ponting        30
Sanath T Jayasuriya    28
Sourav C Ganguly       22
Herschelle H Gibbs     21
                       ..
Hasan Raza              0
Hasan Jamil             0
Hasan Durham            0
Harvir S Baidwan        0
Zulquarnain             0
Name: century, Length: 1883, dtype: int64

In [11]:
df['strike_rate'] = df['Runs']/df['Balls']

In [17]:
df[df['century'] == 1].groupby('Player').strike_rate.max().sort_values(ascending=False)

Player
Shahid Afridi          2.550000
Mark V Boucher         2.161765
Sanath T Jayasuriya    2.061538
Shane R Watson         1.927083
Brian C Lara           1.887097
                         ...
Bruce A Edgar          0.723404
Stuart C Williams      0.704698
Douglas A Marillier    0.680272
David L Hemp           0.671053
Tom L W Cooper         0.651613
Name: strike_rate, Length: 280, dtype: float64

In [23]:
df['MatchDate'] = pd.to_datetime(df['MatchDate'])
df['year'] = df['MatchDate'].dt.year

In [20]:
df.groupby(['Country', 'year']).century.sum().sort_values(ascending=False)

Country       year
India         1998    18
              1999    15
Australia     2007    15
South Africa  2010    14
Sri Lanka     2006    14
                      ..
Kenya         2005     0
              2009     0
              2010     0
              2011     0
India         1981     0
Name: century, Length: 391, dtype: int64